package main

func FinalValue(movs []int) int {
	/*
	 * Your solution
	 */
}

func main() {
	/*
	 * Code written here or in other files will be ignored by the automated tests
	 * You can run this code when running the file with `go run safe.go`
	 */
}
